header{
    background-color: blueviolet;
    text-align: center;
    color: white;
    padding: 20px;
}
body{
    margin: 0px;
}
.abaixo{
    background-color: darkmagenta;
}
form{
    text-align: center;
}
button{
    
}